@page
@model RegisterModel

<link href="/css/Pagina_Register.css" rel="stylesheet" type="text/css">
<script src="~/js/Register_General.js"></script>


<h1>Bienvenido a Heldu</h1>
<div class="row" id="div-inicial-register">
    <div class="col-md-12">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row" id="div-opciones-acceso">
                <div class="form-group col-5" id="div-de-usuario">
                    <label asp-for="Input.IsCliente"></label>
                    <input type="checkbox" id="opcion-comprar" asp-for="Input.IsCliente" class="form-control" />
                    <span asp-validation-for="Input.IsCliente" class="text-danger"></span>
                </div>
                <div class="form-group col-5 col-offset-1" id="div-de-vendedor">
                    <label asp-for="Input.IsVendedor"></label>
                    <input type="checkbox" id="opcion-vender" asp-for="Input.IsVendedor" class="form-control" />
                    <span asp-validation-for="Input.IsVendedor" class="text-danger"></span>
                </div>
            </div>
            <!-- Registro IdentityUser -->
            <div id="campos-registro" class="d-none">
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div id="div-boton-register">
                    <button type="submit" class="btn btn-primary">Registarme</button>
                </div>
            </div>
        </form>
        <section class="d-none" id="botones-autenticacion-registro">
            <h5>Regístrate con una de las siguentes opciones</h5>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p id="parrafo-superior-er">
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" style="width:auto;" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
    @*<div class="col-md-6 col-md-offset-2" i>
        </div>*@
</div>

@*
    <div class="row">
        <div class="col-md-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="form-group col-5" id="div-de-usuario">
                        <label asp-for="Input.IsCliente"></label>
                        <input id="opcion-comprar" asp-for="Input.IsCliente" class="form-control" />
                        <span asp-validation-for="Input.IsCliente" class="text-danger"></span>
                    </div>
                    <div class="form-group col-5 col-offset-1" id="div-de-vendedor">
                        <label asp-for="Input.IsVendedor"></label>
                        <input id="opcion-vender" asp-for="Input.IsVendedor" class="form-control" />
                        <span asp-validation-for="Input.IsVendedor" class="text-danger"></span>
                    </div>
                </div>
                Registro IdentityUser
                <div id="campos-registro" class="d-none">
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Registarme</button>
                </div>
            </form>
        </div>
        <div class="col-md-6 col-md-offset-2" i>
            <section class="d-none" id="botones-autenticacion-registro" >
                <h4>Utiliza otro servicio para acceder.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" style="width:auto;" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>
    @*
    @*<script src="https://apis.google.com/js/platform.js" async defer></script>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

