@model Heldu.Entities.Models.Producto
@{
    ViewData["Title"] = "Borrar Producto";
}

<h1>Eliminar producto</h1>

<h3>¿Estás seguro/a de que deseas eliminar el producto?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FechaValidez)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FechaValidez)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ImagenesProducto.Imagen1)
        </dt>
        <dd class="col-sm-9">
            <img src="~/Productos/GetImage1/@Model.Id"/>
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Precio)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sí" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>

</div>

