@using Microsoft.AspNetCore.Identity
@using DEFINITIVO.Services
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager
@inject MessagesService MessagesService
@inject HelperService HelperService
@{
    ViewData["Title"] = "Index2";
    IdentityUser activeUser = await UserManager.GetUserAsync(User);
}
<!-- CSS particular para esta vista. Los script están en el layout-->
<link href="~/css/Productos_Index.css" rel="stylesheet" type="text/css">
@*<script src="~/js/Productos_Index2.js"></script>*@


@if (User.IsInRole("admin"))
{
    <a asp-action="Create" class="floating-button">
        <i class="fa fa-plus my-float"></i>
    </a>
    <div class="label-container">
        <div class="label-text">Agregar productos</div>
        <i class="fa fa-play label-arrow"></i>
    </div>
}

<!-- UNA CATEGORÍA DEBE TENER AL MENOS 6 PRODUCTOS, SINO EL CARROUSEL NO FUNCIONA!!!!-->

@{
    List<Categoria> cats = ViewBag.Categorias;
    foreach (Categoria categoria in cats)
    {
        List<Producto> productos = await HelperService.ProductosDesdeCategoria(categoria.Id);
        var cantProductos = productos.Count();
        List<int> randomProducto = HelperService.RandomProductos(cantProductos);
        @if (cantProductos > 0)
        {
            <div class="container cta-100 ">
                <div class="container">
                    <a asp-action="Categoria" asp-route-id="@categoria.Id" class="category_name">@categoria.Nombre</a>
                    <div class="row blog">
                        <div class="col-md-12">
                            <div id="blogCarousel" class="carousel slide container-blog" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#blogCarousel" data-slide-to="1"></li>
                                </ol>
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="row">
                                            @for (int index1 = 0; index1 < 3; index1++)
                                            {
                                                int j = randomProducto[index1];
                                                <div class="col-md-4 item-box">
                                                    <div class="item-box-blog">
                                                        <div class="item-box-blog-image">
                                                            <!--Date-->
                                                            <div class="item-box-blog-date bg-blue-ui white"><span class="mon"> <strike style="opacity:0.7;">EUR @productos[j].Precio</strike> EUR @productos[j].PrecioFinal</span> </div>
                                                            <!--Image-->
                                                            <a class="item-image" asp-action="Details" asp-route-id="@productos[j].Id">
                                                                <figure> <img alt="Producto @productos[j].Titulo" src="@productos[j].ImagenProducto"> </figure>
                                                            </a>
                                                        </div>
                                                        <div class="item-box-blog-body">
                                                            <!--Heading-->
                                                            <div class="item-box-blog-heading">
                                                                <a asp-action="Details" asp-route-id="@productos[j].Id">
                                                                    <h5>@productos[j].Titulo</h5>
                                                                </a>
                                                            </div>
                                                            <!--Data-->
                                                            <div class="item-box-blog-data">
                                                                <p>Quedan: @productos[j].UnidadesStock unidades</p>
                                                            </div>
                                                            <!--Text-->
                                                            <div class="item-box-blog-text">
                                                                <p>@productos[j].Descripcion</p>
                                                            </div>
                                                            <div class="mt"> <a asp-action="Details" asp-route-id="@productos[j].Id" class="btn bg-blue-ui white read">Lo quiero!</a> </div>
                                                            <!--Read More Button-->
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            <!--.row-->
                                        </div>
                                    </div>
                                    <!--.item-->
                                    <div class="carousel-item ">
                                        <div class="row">
                                            @for (int index2 = 3; index2 < 6; index2++)
                                            {
                                                int j = randomProducto[index2];
                                                <div class="col-md-4 item-box">
                                                    <div class="item-box-blog">
                                                        <div class="item-box-blog-image">
                                                            <!--Date-->
                                                            <div class="item-box-blog-date bg-blue-ui white"><span class="mon"> <strike style="opacity:0.7;">EUR @productos[j].Precio</strike> EUR @productos[j].PrecioFinal</span> </div>
                                                            <!--Image-->
                                                            <a class="item-image" asp-action="Details" asp-route-id="@productos[j].Id">
                                                                <figure> <img alt="Producto @productos[j].Titulo" src="@productos[j].ImagenProducto"> </figure>
                                                            </a>
                                                        </div>
                                                        <div class="item-box-blog-body">
                                                            <!--Heading-->
                                                            <div class="item-box-blog-heading">
                                                                <a asp-action="Details" asp-route-id="@productos[j].Id">
                                                                    <h5>@productos[j].Titulo</h5>
                                                                </a>
                                                            </div>
                                                            <!--Data-->
                                                            <div class="item-box-blog-data">
                                                                <p>Quedan: @productos[j].UnidadesStock unidades</p>
                                                            </div>
                                                            <!--Text-->
                                                            <div class="item-box-blog-text">
                                                                <p>@productos[j].Descripcion</p>
                                                            </div>
                                                            <div class="mt"> <a asp-action="Details" asp-route-id="@productos[j].Id" class="btn bg-blue-ui white read">Comprar!</a> </div>
                                                            <!--Read More Button-->
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <!--.row-->
                                    </div>
                                    <!--.item-->
                                </div>
                                <!--.carousel-inner-->
                            </div>
                            <!--.Carousel-->
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}

@if (MessagesService.GetShowMessage())
{
    MessagesService.SetShowMessage(false);
    //https://love2dev.com/blog/custom-javascript-alert/
    <script type="x-template" id="banner-template">
        <div class="banner banner-top alert-primary active" role="alert">
            @MessagesService.GetMessage()
            <span class="banner-close"></span>
        </div>
    </script>
    <script>function getBannerTemplate() {
            var template = document.querySelector("#banner-template");
            return template.innerHTML;
        }

        function createFragment(htmlStr) {
            var frag = document.createDocumentFragment(),
                temp = document.createElement('div');
            temp.innerHTML = htmlStr;
            while (temp.firstChild) {
                frag.appendChild(temp.firstChild);
            }
            return frag;
        }

        function injectTemplate(template) {
            document.body.appendChild(createFragment(template));
        }
        var simpleAlert = document.querySelector(".simple-alert");
        injectTemplate(getBannerTemplate());
        var btnClose = document.querySelector(".banner-close");
        btnClose.addEventListener("click", function (closeEvt) {
            var banner = document.querySelector(".banner");
            banner.parentNode.removeChild(banner);
        });</script>
}
<script>
    ifUserVendedor()
    function ifUserVendedor() {
        let div = document.getElementById('producto-vendedor-vacio');
        div.classList.remove('d-none');
    }
</script>

@section Scripts {

    <link href="@Url.Content("~/css/popup_banner.css")" rel="stylesheet" type="text/css" />
    <link href="~/css/popup_banner.css" rel="stylesheet" type="text/css" />
}