@model ProductosForIndex2VM
@using Microsoft.AspNetCore.Identity
@using Heldu.Logic.Interfaces
@using Heldu.Logic.ViewModels
@using DEFINITIVO.Services

@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager
@inject MessagesService MessagesService
@inject IHelperService HelperService
@*@inject IProductosService ProductosService*@
@{
    ViewData["Title"] = "Productos";
    IdentityUser activeUser = await UserManager.GetUserAsync(User);
    List<Categoria> categorias = ViewBag.Categorias;
    string postalCode = ViewBag.PostalCode;
    string city = ViewBag.City;
}
<!-- CSS particular para esta vista. Los script están en el layout-->
<link href="~/css/Productos_Index.css" rel="stylesheet" type="text/css">


@if (User.IsInRole("vendedor"))
{
    <a asp-action="Create" class="floating-button">
        <p class="add-producto-bubble">+</p>
    </a>
    <div class="label-container">
        <div class="label-text">Agregar productos</div>
        <i class="fa fa-play label-arrow"></i>
    </div>
}

@if (postalCode != "")
{
    <p id="ubicacion" class="alert-light">Mostrando productos para <span id="locationCity">@city</span> - CP <span id="inputModalPostalCode">@postalCode</span><span> <a id="modificarCiudad" data-toggle="modal" data-target="#myModal"> (Modificar)</a></span> </p>
}

<!-- UNA CATEGORÍA DEBE TENER AL MENOS 6 PRODUCTOS, SI NO EL CARROUSEL NO FUNCIONA!!!!-->
@{
    int indexCategorias = 0;
    foreach (List<Producto> listaProducto in Model.ListasProductos)
    {
        var cantProductos = listaProducto.Count();

        @if (cantProductos > 5)
        {
            List<int> randomProducto = HelperService.RandomProductos(cantProductos);
            <div class="cta-100 ">
                <div>
                    <a asp-action="Categoria" asp-route-id="@categorias[indexCategorias].Id" class="category_name">@categorias[indexCategorias].Nombre</a>
                    <div class="row blog">
                        <div class="col-md-12">
                            @{string nombreCat = $"categoria_{indexCategorias}";}
                            <div id="@nombreCat" class="carousel slide container-blog blogCarousel" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#@nombreCat" data-slide-to="0" class="active"></li>
                                    <li data-target="#@nombreCat" data-slide-to="1"></li>
                                </ol>
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="row">
                                            @for (int index1 = 0; index1 < 3; index1++)
                                            {
                                                int j = randomProducto[index1];
                                                <div class="col-md-4 item-box">
                                                    <div class="item-box-blog">
                                                        <div class="item-box-blog-image">
                                                            <!--Imagen-->
                                                            <a class="item-image" asp-action="Detalles" asp-route-id="@listaProducto[j].Id">
                                                                <figure> <img class="imagen-producto-index2" loading="lazy" alt="Producto @listaProducto[j].Titulo" src="~/Productos/GetImage1/@listaProducto[j].Id" onerror='this.onerror=null;this.src="https://i.ibb.co/FXsjMng/Imagen-no-disponible-min.png";'> </figure>
                                                            </a>
                                                        </div>
                                                        <div class="item-box-blog-body">
                                                            <!--Título-->
                                                            <div class="item-box-blog-heading">
                                                                <a asp-action="Detalles" asp-route-id="@listaProducto[j].Id">
                                                                    @listaProducto[j].Titulo
                                                                </a>
                                                            </div>
                                                            <!--Precio-->
                                                            <div class="row item-box-blog-date bg-blue-ui white">
                                                                <span class="mon"><strike style="opacity:0.7;"> @listaProducto[j].Precio &#8364 </strike></span>
                                                                <span class="mon">@listaProducto[j].PrecioFinal &#8364</span>
                                                            </div>
                                                            <!--Descripción-->
                                                            <div class="item-box-blog-text">
                                                                <p>@listaProducto[j].Descripcion</p>
                                                            </div>
                                                            <div class="div-boton-comprar"> <a asp-action="Detalles" asp-route-id="@listaProducto[j].Id" class="btn bg-blue-ui white read btnLoQuiero">Lo quiero!</a> </div>
                                                            <!--Comprar-->
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            <!--.row-->
                                        </div>
                                    </div>
                                    <!--.item-->
                                    <div class="carousel-item ">
                                        <div class="row">
                                            @for (int index2 = 3; index2 < 6; index2++)
                                            {
                                                int j = randomProducto[index2];
                                                <div class="col-md-4 item-box">
                                                    <div class="item-box-blog">
                                                        <div class="item-box-blog-image">
                                                            <!--Imagen-->
                                                            <a class="item-image" asp-action="Detalles" asp-route-id="@listaProducto[j].Id">
                                                                <figure> <img class="imagen-producto-index2" loading="lazy" alt="Producto @listaProducto[j].Titulo" src="~/Productos/GetImage1/@listaProducto[j].Id" onerror='this.onerror=null;this.src="https://i.ibb.co/FXsjMng/Imagen-no-disponible-min.png";'> </figure>
                                                            </a>
                                                        </div>
                                                        <div class="item-box-blog-body">
                                                            <!--Título-->
                                                            <div class="item-box-blog-heading">
                                                                <a asp-action="Detalles" asp-route-id="@listaProducto[j].Id">
                                                                    @listaProducto[j].Titulo
                                                                </a>
                                                            </div>
                                                            <!--Precio-->
                                                            <div class="item-box-blog-date bg-blue-ui white"><span class="mon"> <strike style="opacity:0.7;"> @listaProducto[j].Precio &#8364</strike>  @listaProducto[j].PrecioFinal &#8364 </span></div>
                                                            <!--Descripción-->
                                                            <div class="item-box-blog-text">
                                                                <p>@listaProducto[j].Descripcion</p>
                                                            </div>
                                                            <div class="div-boton-comprar"> <a asp-action="Detalles" asp-route-id="@listaProducto[j].Id" class="btn bg-blue-ui white read btnLoQuiero">Lo quiero!</a> </div>
                                                            <!--Comprar-->
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <!--.row-->
                                    </div>
                                    <!--.item-->
                                </div>
                                <!--.carousel-inner-->
                            </div>
                            <!--.Carousel-->
                        </div>
                    </div>
                </div>
            </div>
        }
        indexCategorias++;
    }
}

@if (MessagesService.GetShowMessage())
{
    MessagesService.SetShowMessage(false);
    //https://love2dev.com/blog/custom-javascript-alert/
    <script type="x-template" id="banner-template">
        <div class="banner banner-top alert-primary active" role="alert">
            @MessagesService.GetMessage()
            <span class="banner-close"></span>
        </div>
    </script>
    <script>function getBannerTemplate() {
            var template = document.querySelector("#banner-template");
            return template.innerHTML;
        }
        function createFragment(htmlStr) {
            var frag = document.createDocumentFragment(),
                temp = document.createElement('div');
            temp.innerHTML = htmlStr;
            while (temp.firstChild) {
                frag.appendChild(temp.firstChild);
            }
            return frag;
        }
        function injectTemplate(template) {
            document.body.appendChild(createFragment(template));
        }
        var simpleAlert = document.querySelector(".simple-alert");
        injectTemplate(getBannerTemplate());
        var btnClose = document.querySelector(".banner-close");
        btnClose.addEventListener("click", function (closeEvt) {
            var banner = document.querySelector(".banner");
            banner.parentNode.removeChild(banner);
        });</script>
}
@*<script>
    ifUserVendedor()
    function ifUserVendedor() {
        let div = document.getElementById('producto-vendedor-vacio');
        div.classList.remove('d-none');
    }</script>*@



<!-- Modal de ubicación del usuario (Cuando ingresa por primera vez)-->
<div id="modal-root">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="cruzSalirModal">&times;</button>
                    <h4><span class="glyphicon glyphicon-lock"></span> Mejoramos tu experiencia!</h4>
                </div>
                <div class="modal-body">
                    <h5>Te estamos mostrando productos para @city</h5>
                    <h5>Si no es correcto, indícanos tu código postal </h5>
                    <form role="form" asp-controller="Productos" asp-action="LocateVisitor">
                        <div class="form-group">
                            <label for="postaCode"><span class="glyphicon glyphicon-user"></span> Código Postal</label>
                            <input type="text" class="form-control" id="inputPostalCode" name="inputPostalCode" placeholder="48001 / 01001" maxlength="5" minlength="5" pattern="[0-9]{5}" required>
                        </div>
                        <button type="submit" class="btn btn-success btn-block" id="botonConfirmar"><span class="glyphicon glyphicon-off"></span> Confirmar </button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="botonCancelar" type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar </button>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {

    <script defer src="~/js/Productos_Index2.js"></script>
}