@model ProductosForIndex2VM
@using Microsoft.AspNetCore.Identity
@using Heldu.Logic.Interfaces
@using Heldu.Logic.ViewModels
@using DEFINITIVO.Services

@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager
@inject MessagesService MessagesService
@inject IHelperService HelperService
@inject IProductosService ProductosService
@{
    ViewData["Title"] = "Ofertas";
    IdentityUser activeUser = await UserManager.GetUserAsync(User);
    List<Categoria> categorias = ViewBag.Categorias;
    string postalCode = ViewBag.PostalCode;
    string city = ViewBag.City;
    <!-- Productos destacados-->
    Producto productoDestacado1 = await ProductosService.GetProductoById(31);
    Producto productoDestacado2 = await ProductosService.GetProductoById(5);
    Producto productoDestacado3 = await ProductosService.GetProductoById(24);
}
<!-- CSS particular para esta vista. Los script están en el layout-->
<link href="~/css/Productos_Index.css" rel="stylesheet" type="text/css">
<!-- CSS para que las estrellas de valoración funcionen-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


@if (User.IsInRole("vendedor"))
{
    <a asp-action="Create" class="floating-button">
        <p class="add-producto-bubble">+</p>
    </a>
    <div class="label-container">
        <div class="label-text">Agregar productos</div>
        <i class="fa fa-play label-arrow"></i>
    </div>
}

@if (postalCode != "")
{
    <p id="ubicacion" class="alert-light">Mostrando productos para <span id="locationCity">@city</span> - CP <span id="inputModalPostalCode">@postalCode</span><span> <a id="modificarCiudad" data-toggle="modal" data-target="#myModal"> (Modificar)</a></span> </p>
}
<!-- CAROUSEL DE PRUEBAS -->
<div class="cta-100">
    <p class="titulo-categorias">Ofertas Destacadas</p>
    <div class="ofertas-destacadas">
        <div class="card carta-modificada">
            <img loading="lazy" class="card-img-top" src="~/Productos/GetImage1/@productoDestacado1.Id" onerror='this.onerror=null;this.src="https://i.ibb.co/FXsjMng/Imagen-no-disponible-min.png";'>
            <div class="card-body">
                <p class="titulo-oferta">@productoDestacado1.Titulo</p>
                <div class="valoracion-y-visitas">
                    <div class="row media-de-producto" style="align-items: baseline;">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="visitas-a-producto">
                        <img src="https://cdn0.iconfinder.com/data/icons/users-android-l-lollipop-icon-pack/24/group-512.png" />
                        <p></p>
                    </div>
                </div>
                <div asp-action="Detalles" asp-route-id="@productoDestacado1.Id" class="precios-carta-index">
                    <p class="precio-final-carta">@productoDestacado1.PrecioFinal&#8364;</p>
                    <p class="precio-inicial-carta">@productoDestacado1.Precio&#8364;</p>
                    @{
                        double descuento1 = Math.Round(((Convert.ToDouble(productoDestacado1.Precio) - Convert.ToDouble(productoDestacado1.PrecioFinal)) / Convert.ToDouble(productoDestacado1.Precio)) * 100);
                    }
                    <p class="descuento-carta">&#8595;@descuento1&#37;</p>
                </div>
                <div class="div-boton-lo-quiero">
                    <a onclick="generarSpinnerProducto()" asp-action="Detalles" asp-route-id="@productoDestacado1.Id" class="btn boton-lo-quiero">¡Lo quiero!</a>
                </div>
            </div>
        </div>
        <div class="card carta-modificada">
            <img loading="lazy" class="card-img-top" src="~/Productos/GetImage1/@productoDestacado2.Id" onerror='this.onerror=null;this.src="https://i.ibb.co/FXsjMng/Imagen-no-disponible-min.png";'>
            <div class="card-body">
                <p class="titulo-oferta">@productoDestacado2.Titulo</p>
                <div class="valoracion-y-visitas">
                    <div class="row media-de-producto" style="align-items: baseline;">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="visitas-a-producto">
                        <img src="https://cdn0.iconfinder.com/data/icons/users-android-l-lollipop-icon-pack/24/group-512.png" />
                        <p></p>
                    </div>
                </div>
                <div asp-action="Detalles" asp-route-id="@productoDestacado2.Id" class="precios-carta-index">
                    <p class="precio-final-carta">@productoDestacado2.PrecioFinal&#8364;</p>
                    <p class="precio-inicial-carta">@productoDestacado2.Precio&#8364;</p>
                    @{
                        double descuento2 = Math.Round(((Convert.ToDouble(productoDestacado2.Precio) - Convert.ToDouble(productoDestacado2.PrecioFinal)) / Convert.ToDouble(productoDestacado2.Precio)) * 100);
                    }
                    <p class="descuento-carta">&#8595;@descuento2&#37;</p>
                </div>
                <div class="div-boton-lo-quiero">
                    <a onclick="generarSpinnerProducto()" asp-action="Detalles" asp-route-id="@productoDestacado2.Id" class="btn boton-lo-quiero">¡Lo quiero!</a>
                </div>
            </div>
        </div>
        <div class="card carta-modificada">
            <img loading="lazy" class="card-img-top" src="~/Productos/GetImage1/@productoDestacado3.Id" onerror='this.onerror=null;this.src="https://i.ibb.co/FXsjMng/Imagen-no-disponible-min.png";'>
            <div class="card-body">
                <p class="titulo-oferta">@productoDestacado3.Titulo</p>
                <div class="valoracion-y-visitas">
                    <div class="row media-de-producto" style="align-items: baseline;">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="visitas-a-producto">
                        <img src="https://cdn0.iconfinder.com/data/icons/users-android-l-lollipop-icon-pack/24/group-512.png" />
                        <p></p>
                    </div>
                </div>
                <div asp-action="Detalles" asp-route-id="@productoDestacado3.Id" class="precios-carta-index">
                    <p class="precio-final-carta">@productoDestacado3.PrecioFinal&#8364;</p>
                    <p class="precio-inicial-carta">@productoDestacado3.Precio&#8364;</p>
                    @{
                        double descuento3 = Math.Round(((Convert.ToDouble(productoDestacado3.Precio) - Convert.ToDouble(productoDestacado3.PrecioFinal)) / Convert.ToDouble(productoDestacado3.Precio)) * 100);
                    }
                    <p class="descuento-carta">&#8595;@descuento3&#37;</p>
                </div>
                <div class="div-boton-lo-quiero">
                    <a onclick="generarSpinnerProducto()" asp-action="Detalles" asp-route-id="@productoDestacado3.Id" class="btn boton-lo-quiero">¡Lo quiero!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<!-- Categoría de salud y belleza-->
<div class="titulo-categorias">
    <a asp-controller="Productos" asp-action="Categoria" asp-route-id="@categorias[0].Id">@categorias[0].Nombre</a>
</div>
<div class="ofertas-no-destacadas">
    @foreach (Producto producto in Model.ListasProductos[0].Take(8))
    {
        <div class="card carta-modificada">
            <img loading="lazy" class="card-img-top" src="~/Productos/GetImage1/@producto.Id" onerror='this.onerror=null;this.src="https://i.ibb.co/FXsjMng/Imagen-no-disponible-min.png";'>
            <div class="card-body">
                <p class="titulo-oferta">@producto.Titulo</p>
                <div class="valoracion-y-visitas">
                    <div class="row media-de-producto" style="align-items: baseline;">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="visitas-a-producto">
                        <img src="https://cdn0.iconfinder.com/data/icons/users-android-l-lollipop-icon-pack/24/group-512.png" />
                        <p></p>
                    </div>
                </div>
                <div asp-action="Detalles" asp-route-id="@producto.Id" class="precios-carta-index">
                    <p class="precio-final-carta">@producto.PrecioFinal&#8364;</p>
                    <p class="precio-inicial-carta">@producto.Precio&#8364;</p>
                    @{
                        double descuento = Math.Round(((Convert.ToDouble(producto.Precio) - Convert.ToDouble(producto.PrecioFinal)) / Convert.ToDouble(producto.Precio))*100);
                    }
                <p class="descuento-carta">&#8595;@descuento&#37;</p>
                </div>
                <div class="div-boton-lo-quiero">
                    <a onclick="generarSpinnerProducto()" asp-action="Detalles" asp-route-id="@producto.Id" class="btn boton-lo-quiero">¡Lo quiero!</a>
                </div>
            </div>
        </div>
    }
</div>
<div class="ver-mas">
    <a asp-controller="Productos" asp-action="Categoria" asp-route-id="@categorias[0].Id">Ver más productos de @categorias[0].Nombre</a>
</div>
<hr />
<!-- Categoría de gastronomía-->
<div class="titulo-categorias">
    <a asp-controller="Productos" asp-action="Categoria" asp-route-id="@categorias[1].Id">@categorias[1].Nombre</a>
</div>
<div class="ofertas-no-destacadas">
    @foreach (Producto producto in Model.ListasProductos[1].Take(8))
    {
        <div class="card carta-modificada">
            <img loading="lazy" class="card-img-top" src="~/Productos/GetImage1/@producto.Id" onerror='this.onerror=null;this.src="https://i.ibb.co/FXsjMng/Imagen-no-disponible-min.png";'>
            <div class="card-body">
                <p class="titulo-oferta">@producto.Titulo</p>
                <div class="valoracion-y-visitas">
                    <div class="row media-de-producto" style="align-items: baseline;">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="visitas-a-producto">
                        <img src="https://cdn0.iconfinder.com/data/icons/users-android-l-lollipop-icon-pack/24/group-512.png" />
                        <p></p>
                    </div>
                </div>
                <div asp-action="Detalles" asp-route-id="@producto.Id" class="precios-carta-index">
                    <p class="precio-final-carta">@producto.PrecioFinal&#8364;</p>
                    <p class="precio-inicial-carta">@producto.Precio&#8364;</p>
                    @{
                        double descuento = Math.Round(((Convert.ToDouble(producto.Precio) - Convert.ToDouble(producto.PrecioFinal)) / Convert.ToDouble(producto.Precio)) * 100);
                    }
                <p class="descuento-carta">&#8595;@descuento&#37;</p>
                </div>
                <div class="div-boton-lo-quiero">
                    <a onclick="generarSpinnerProducto()" asp-action="Detalles" asp-route-id="@producto.Id" class="btn boton-lo-quiero">¡Lo quiero!</a>
                </div>
            </div>
        </div>
    }
</div>
<div class="ver-mas">
    <a asp-controller="Productos" asp-action="Categoria" asp-route-id="@categorias[1].Id">Ver más productos de @categorias[1].Nombre</a>
</div>
<hr />
<!-- Categoría de formación-->
<div class="titulo-categorias">
    <a asp-controller="Productos" asp-action="Categoria" asp-route-id="@categorias[3].Id">@categorias[3].Nombre</a>
</div>
<div class="ofertas-no-destacadas">

    @foreach (Producto producto in Model.ListasProductos[3].Take(8))
    {
        <div class="card carta-modificada">
            <img loading="lazy" class="card-img-top" src="~/Productos/GetImage1/@producto.Id" onerror='this.onerror=null;this.src="https://i.ibb.co/FXsjMng/Imagen-no-disponible-min.png";'>
            <div class="card-body">
                <p class="titulo-oferta">@producto.Titulo</p>
                <div class="valoracion-y-visitas">
                    <div class="row media-de-producto" style="align-items: baseline;">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <p class="visitas-a-producto">
                        <img src="https://cdn0.iconfinder.com/data/icons/users-android-l-lollipop-icon-pack/24/group-512.png" />
                    </p>
                </div>
                <div asp-action="Detalles" asp-route-id="@producto.Id" class="precios-carta-index">
                    <p class="precio-final-carta">@producto.PrecioFinal&#8364;</p>
                    <p class="precio-inicial-carta">@producto.Precio&#8364;</p>
                    @{
                        double descuento = Math.Round(((Convert.ToDouble(producto.Precio) - Convert.ToDouble(producto.PrecioFinal)) / Convert.ToDouble(producto.Precio)) * 100);
                    }
                <p class="descuento-carta">&#8595;@descuento&#37;</p>
                </div>
                <div class="div-boton-lo-quiero">
                    <a onclick="generarSpinnerProducto()" asp-action="Detalles" asp-route-id="@producto.Id" class="btn boton-lo-quiero">¡Lo quiero!</a>
                </div>
            </div>
        </div>
    }
</div>
<div class="ver-mas">
    <a asp-controller="Productos" asp-action="Categoria" asp-route-id="@categorias[3].Id">Ver más productos de @categorias[3].Nombre</a>
</div>

@if (MessagesService.GetShowMessage())
{
    MessagesService.SetShowMessage(false);
    //https://love2dev.com/blog/custom-javascript-alert/
    <script type="x-template" id="banner-template">
        <div class="banner banner-top alert-primary active" role="alert">
            @MessagesService.GetMessage()
            <span class="banner-close"></span>
        </div>
    </script>
    <script>
        function getBannerTemplate() {
            var template = document.querySelector("#banner-template");
            return template.innerHTML;
        }
        function createFragment(htmlStr) {
            var frag = document.createDocumentFragment(),
                temp = document.createElement('div');
            temp.innerHTML = htmlStr;
            while (temp.firstChild) {
                frag.appendChild(temp.firstChild);
            }
            return frag;
        }
        function injectTemplate(template) {
            document.body.appendChild(createFragment(template));
        }
        var simpleAlert = document.querySelector(".simple-alert");
        injectTemplate(getBannerTemplate());
        var btnClose = document.querySelector(".banner-close");
        btnClose.addEventListener("click", function (closeEvt) {
            var banner = document.querySelector(".banner");
            banner.parentNode.removeChild(banner);
        });</script>
}

<!-- Modal de ubicación del usuario (Cuando ingresa por primera vez)-->
<div id="modal-root">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="cruzSalirModal">&times;</button>
                    <h4><span class="glyphicon glyphicon-lock"></span> Mejoramos tu experiencia!</h4>
                </div>
                <div class="modal-body">
                    <p>Te estamos mostrando productos para @city</p>
                    <p>Si no es correcto, indícanos tu <strong>código postal</strong></p>
                    <form role="form" asp-controller="Productos" asp-action="LocateVisitor">
                        <div class="form-group">
                            <label for="postaCode"><span class="glyphicon glyphicon-user"></span> Código Postal</label>
                            <input type="text" class="form-control" id="inputPostalCode" name="inputPostalCode" placeholder="48001 / 01001" maxlength="5" minlength="5" pattern="[0-9]{5}" required>
                        </div>
                        <button type="submit" class="btn btn-success btn-block" id="botonConfirmar"><span class="glyphicon glyphicon-off"></span> Confirmar </button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="botonCancelar" type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar </button>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {

    <script defer src="~/js/Productos_Index2.js"></script>
}
