@using Microsoft.AspNetCore.Identity
@using Heldu.Logic.Interfaces
@using Heldu.Logic.ViewModels
@using DEFINITIVO.Services
@model IEnumerable<ProductoPrimeraOpcionProductoVM>
@{
    ViewData["Title"] = "Búsqueda";
    string palabraBuscada = ViewBag.inputBuscar;
}
<link href="~/css/Producto_Categoria.css" rel="stylesheet" type="text/css">

@if (Model.Count() != 0)
{
    <p class="py-2" id="resultsTitle">Se han encontrado @Model.Count() resultados para <i>'@palabraBuscada'</i> </p>
}
else
{
<p class="py-2" id="resultsTitle">¡Ups! No hemos encontrado resultados para <i>'@palabraBuscada'</i> &#128546; </p>
    <p class="py-2" id="noResults">¿Nos ayudas a mejorar?</p>
    <p>Envíanos un mensaje con el producto o servicio que te gustaría encontrar en Heldu. </p>
    <p>Haremos todo lo posible para conseguirlo!</p>
    <label for="showForm" class="btn btn-info mb-3">Enviar Mensaje</label>
}

<div class="row row-cols-1 row-cols-md-3 row-cols-xl-3">
    @foreach (ProductoPrimeraOpcionProductoVM item in Model)
    {
        <div class="col-3 contenedor-carta">
            <div class="card h-100">
                <img src="~/Productos/GetImage1/@item.producto.Id" onerror='this.onerror=null;this.src="https://i.ibb.co/FXsjMng/Imagen-no-disponible-min.png";' class="imagen-carta" alt="Imagen 1 del producto">
                <div class="item-box-blog-date bg-blue-ui white">
                    <span class="mon"> <strike class="oldPrice"> @item.opcionProducto.PrecioInicial &#8364 </strike><span class="precio-destacado"> @item.opcionProducto.PrecioFinal &#8364 </span></span>
                </div>
                <div class="cuerpo-carta">
                    <a class="card-title" asp-action="Detalles" asp-route-id="@item.producto.Id">
                        @item.producto.Titulo
                    </a>
                    <p class="texto-carta">@item.producto.Descripcion</p>
                    <div class="row">
                        <div class="texto-stock">
                            @{int stock = item.opcionProducto.StockInicial - item.opcionProducto.CantidadVendida;}
                            @if (stock > 3)
                            {
                                <p>Quedan @stock!</p>
                            }
                            else
                            {
                                <p>Últimas 3!</p>
                            }
                        </div>
                        <div class="mt">
                            <a asp-action="Detalles" asp-route-id="@item.producto.Id" id="btnComprar" class="btn bg-blue-ui white read btnComprar">Comprar!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
