@model Heldu.Entities.Models.Condicion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Condicion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recogida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recogida)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
