@model Heldu.Entities.Models.Vendedor

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="col-3">
    <img id="imagen-vendedor-pv" src="https://image.flaticon.com/icons/svg/609/609752.svg" />
    <h3>@Model.NombreDeEmpresa</h3>
    <br />
    <div class="botones-PV">
        <a style="width:100%;" asp-action="Misproductos2" asp-route-id="@Model.Id" class="btn btn-warning">Productos</a>
    </div>
    <div class="botones-PV">
        <a style="width:100%;" asp-action="Estadisticas2" asp-route-id="@Model.Id" class="btn btn-warning">Estadísticas</a>
    </div>
    <div class="botones-PV">
        <a style="width:100%;" asp-action="Opiniones2" asp-route-id="@Model.Id" class="btn btn-warning">Opiniones</a>
    </div>
    <div class="botones-PV">
        <a style="width:100%;" asp-action="Miperfil" asp-route-id="@Model.Id" class="btn btn-warning">Mi perfil</a>
    </div>
    <div class="botones-PV">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="usuario-saliendo">
            <button type="submit" class="btn boton-cerrar-sesion"><p>Salir</p></button>
        </form>
    </div>
</div>
