@model Heldu.Entities.Models.Vendedor

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Mis Productos";
}
<link href="~/css/Productos_Index.css" rel="stylesheet" type="text/css">
<link href="~/css/Vendedores_MisProductos.css" rel="stylesheet" type="text/css">
<script defer src="/js/Vendedores_Productos.js"></script>

<div>
    <div class="row">
        <partial name="_MiperfilPV" model="Model" />
        @*Cuadro blanco*@
        <div class="col-8 offset-1">
            <div class="row cuadro-vendedor">
                <h3 class="col-4">Mis productos</h3>
                <a class="col-3 offset-4 crear btn" asp-controller="Productos" asp-action="Create" asp-route-id="@Model.Id">Crear nuevo<img src="https://image.flaticon.com/icons/svg/1042/1042340.svg" /></a>
                @if (Model.ProductoVendedor.Count == 0)
                {
                    <div>
                        <p>Aún no has añadido ningún producto</p>
                        <a asp-action="Create" asp-controller="Productos">Añadir producto</a>
                    </div>
                }
                @if (Model.ProductoVendedor.Count != 0)
                {
                    <div class="row productos">
                        @foreach (ProductoVendedor productoVendedor in Model.ProductoVendedor)
                        {
                            <div class="card carta-producto mx-1">
                                <img loading="lazy" class="card-img-top" src="~/Productos/GetImage1/@productoVendedor.Producto.Id" onerror='this.onerror=null;this.src="https://i.ibb.co/FXsjMng/Imagen-no-disponible-min.png";'>
                                <div class="card-body">
                                    <p class="titulo-oferta">@productoVendedor.Producto.Titulo</p>
                                    <p>Fecha validez</p>
                                    <p class="card-text fecha-producto">@productoVendedor.Producto.FechaValidez.ToShortDateString()</p>
                                    <div class="valoracion-y-visitas">
                                        <div class="row media-de-producto" style="align-items: baseline;">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                        <div class="row visitas-a-producto">
                                            <img src="https://cdn0.iconfinder.com/data/icons/users-android-l-lollipop-icon-pack/24/group-512.png" />
                                            <p class="texto-visitas-a-producto"></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5 div-boton-lo-quiero left">
                                            <a onclick="generarSpinnerProducto()" asp-controller="Productos" asp-action="Detalles" asp-route-id="@productoVendedor.Producto.Id" class="btn boton-lo-quiero">Detalles</a>
                                        </div>
                                        <div class="col-5 offset-1 div-boton-lo-quiero right">
                                            <a onclick="generarSpinnerProducto()" asp-controller="Productos" asp-action="Edit" asp-route-id="@productoVendedor.Producto.Id" class="btn boton-lo-quiero">Editar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>


