@model Heldu.Entities.Models.Vendedor

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<link href="/css/Vendedores_MisProductos.css" rel="stylesheet" type="text/css">
<script defer src="/js/Vendedores_Productos.js"></script>
<div class="cuadro-vendedor">
    <div class="row">
        <h3 class="col-4 offset-4">Mis productos</h3>
        <a class="col-3" asp-controller="Productos" asp-action="Create" asp-route-id="@Model.Id" style="text-align:right;">Crear nuevo<img style="max-width:10%;" align="right" src="https://image.flaticon.com/icons/svg/1042/1042340.svg" /></a>
    </div>
    <div class="row">
        <partial name="_MiperfilPV" model="Model" />
        @*Cuadro blanco*@
        <div class="col-7 offset-1" style="width: 66%;background-color: white;">
            @if (Model.ProductoVendedor.Count == 0)
            {
                <div>
                    <p>Aún no has añadido ningún producto</p>
                    <a asp-action="Create" asp-controller="Productos">Añadir producto</a>
                </div>
            }
            @if (Model.ProductoVendedor.Count != 0)
            {
                <div class="row">
                    @foreach (ProductoVendedor productoVendedor in Model.ProductoVendedor)
                    {
                        <div class="card col-sm-4">
                            <img class="card-img-top" src="@productoVendedor.Producto.ImagenesProducto.Imagen1" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title titulo-producto">@productoVendedor.Producto.Titulo</h5>
                                <p class="card-text descripcion-producto">@productoVendedor.Producto.Descripcion</p>
                                <p class="card-text fecha-producto">@productoVendedor.Producto.FechaValidez</p>
                                <div class="row precio-card-productos">
                                    <p class="card-text precio-inicial">@productoVendedor.Producto.Precio €</p>
                                    <p class="card-text precio-final">@productoVendedor.Producto.PrecioFinal €</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

