@model Heldu.Entities.Models.Visita

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Visita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVisita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaVisita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unidades)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unidades)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
