@model Heldu.Entities.Models.Usuario
@using Heldu.Logic.ViewModels
@using Microsoft.AspNetCore.Identity
@using Heldu.Logic.Interfaces

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IManejoProductosService ManejoProductosService
@inject IHelperService HelperService
@{
    ViewData["Title"] = "Histórico";
    List<ProductoPrimeraOpcionProductoVM> visitados = ViewBag.ProductosVisitados;
    List<int> listaRandom = new List<int>();
    if (visitados.Count > 3)
    {
        listaRandom = HelperService.RandomList(4, visitados.Count);
    }
    Usuario usuario = ViewBag.Usuario;
    List<Visita> visitas = ViewBag.Visitas;
    List<Producto> comprados = ManejoProductosService.GetProductosComprados(usuario.Id);
    List<Producto> disponibles = new List<Producto>();
    if (comprados.Count != 0)
    {
        disponibles = ManejoProductosService.GetProductosDisponibles(comprados);
    }
    // Pendiente de añadir productos canjeados
    //List<Producto> canjeados = servicios.GetProductosCanjeados(Model.Id);
}

<!-- CSS Personalizado -->
@*<link href="~/css/Usuarios_Historico.css" rel="stylesheet" type="text/css">*@
<link href="~/css/Productos_Index.css" rel="stylesheet" type="text/css">


<div class="row" style="margin-top:10%;">
    <partial name="_MiperfilPV" />
    <div class="col-8 offset-1" style="width: 66%;background-color: #F7F6F2;border-radius: 2%;">
        <h3>Histórico</h3>
        @*Cuadro blanco*@
        <label for="cupones-en-perfil">Tus cupones</label>
        <select class="form-control" id="cupones-en-perfil">
            <option value="">Seleccionar</option>
            <option value="1">Disponibles</option>
            <option value="2">Comprados</option>
            <option value="3">Utilizados</option>
        </select>
        <div>
            <!-- Bucle para crear una línea de cupón por cada cupón COMPRADO -->
            @foreach (Producto comprado in comprados)
            {
                Visita visita = visitas.Where(x => x.ProductoId == comprado.Id).FirstOrDefault();
                <div class="row seccion-comprados d-none seccion-cupones mt-4">
                    <div class="col-3">
                        <h6><strong>Comprado el: </strong></h6>
                        <p>@visita.FechaVisita.ToShortDateString()</p>
                        <h6><strong>Fecha de validez: </strong></h6>
                        <p>@comprado.FechaValidez.ToShortDateString()</p>
                    </div>
                    <div class="col-3">
                        <h6><strong>Cupón: </strong></h6>
                        <p>@comprado.Titulo</p>
                    </div>
                    <div class="col-3">
                        <img style="width:70%;" src="~/Productos/GetImage1/@comprado.Id" />
                    </div>
                    <div class="col-3 div-boton-lo-quiero ">
                        <a class="btn boton-lo-quiero my-2" style="font-size:small;">Ver Detalles</a>
                        <a class="btn boton-lo-quiero my-2" style="font-size:small;">Descargar PDF</a>
                    </div>
                </div>
            }
            <!-- Fin del bucle para crear una línea de cupón por cada cupón -->
            <!-- Bucle para crear una línea de cupón por cada cupón DISPONIBLE -->
            @foreach (Producto disponible in disponibles)
            {
                Visita visita = visitas.Where(x => x.ProductoId == disponible.Id).FirstOrDefault();
                <div class="row seccion-disponibles d-none seccion-cupones mt-4">
                    <div class="col-3">
                        <h6><strong>Comprado el: </strong></h6>
                        <p>@visita.FechaVisita.ToShortDateString()</p>
                        <h6><strong>Fecha de validez: </strong></h6>
                        <p>@disponible.FechaValidez.ToShortDateString()</p>
                    </div>
                    <div class="col-3">
                        <h6><strong>Cupón: </strong></h6>
                        <p>@disponible.Titulo</p>
                    </div>
                    <div class="col-3">
                        <img style="width:70%;" src="~/Productos/GetImage1/@disponible.Id" />
                    </div>
                    <div class="col-3 div-boton-lo-quiero ">
                        <a class="btn boton-lo-quiero my-2" style="font-size:small;">Ver Detalles</a>
                        <a class="btn boton-lo-quiero my-2" style="font-size:small;">Descargar PDF</a>
                    </div>
                </div>
            }
            <!-- Fin del bucle para crear una línea de cupón por cada cupón -->
        </div>
    </div>
</div>
<!------ Carousel productos recomendados y consumidos por amigos ---------->
<div>
    <div class="row">
        <div class="offset-1 col-10">
            <div>
                <h2 id="productos-vistos-titulo">Cupones que has visto</h2>
            </div>
            <div class="row" style="justify-content: space-evenly;">
                @{
                    if (!visitados.Any())
                    {
                        <h5>¡Vaya, parece que aún no has visitado ningún producto!</h5>
                        <p>Échale un vistazo a nuestros productos haciendo clic <a asp-controller="Productos" asp-action="Index2">aquí</a></p>
                    }
                    else
                    {
                        if (visitados.Count < 3)
                        {
                            foreach (ProductoPrimeraOpcionProductoVM item in visitados)
                            {
                                <div class="card carta-modificada">
                                    <img loading="lazy" class="card-img-top" src="~/Productos/GetImage1/@item.producto.Id" onerror='this.onerror=null;this.src="https://i.ibb.co/FXsjMng/Imagen-no-disponible-min.png";'>
                                    <div class="card-body">
                                        <p class="titulo-oferta">@item.producto.Titulo</p>
                                        <div class="valoracion-y-visitas">
                                            <div class="row media-de-producto" style="align-items: baseline;">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <div class="row visitas-a-producto">
                                                <img src="https://cdn0.iconfinder.com/data/icons/users-android-l-lollipop-icon-pack/24/group-512.png" />
                                                <p class="texto-visitas-a-producto"></p>
                                            </div>
                                        </div>
                                        <div asp-action="Detalles" asp-route-id="@item.producto.Id" class="precios-carta-index">
                                            <p class="precio-final-carta">@item.opcionProducto.PrecioFinal&#8364;</p>
                                            <p class="precio-inicial-carta">@item.opcionProducto.PrecioInicial&#8364;</p>
                                            @{
                                                double descuento = Math.Round(((item.opcionProducto.PrecioInicial - item.opcionProducto.PrecioFinal) / item.opcionProducto.PrecioInicial) * 100);
                                            }
                                            <p class="descuento-carta">&#8595;@descuento&#37;</p>
                                        </div>
                                        <div class="div-boton-lo-quiero">
                                            <a onclick="generarSpinnerProducto()" asp-action="Detalles" asp-route-id="@item.producto.Id" class="btn boton-lo-quiero">¡Volver a ver!</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            foreach (int i in listaRandom)
                            {
                                <div class="card carta-modificada">
                                    <img loading="lazy" class="card-img-top" src="~/Productos/GetImage1/@visitados[i].producto.Id" onerror='this.onerror=null;this.src="https://i.ibb.co/FXsjMng/Imagen-no-disponible-min.png";'>
                                    <div class="card-body">
                                        <p class="titulo-oferta">@visitados[i].producto.Titulo</p>
                                        <div class="valoracion-y-visitas">
                                            <div class="row media-de-producto" style="align-items: baseline;">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <div class="row visitas-a-producto">
                                                <img src="https://cdn0.iconfinder.com/data/icons/users-android-l-lollipop-icon-pack/24/group-512.png" />
                                                <p class="texto-visitas-a-producto"></p>
                                            </div>
                                        </div>
                                        <div asp-action="Detalles" asp-route-id="@visitados[i].producto.Id" class="precios-carta-index">
                                            <p class="precio-final-carta">@visitados[i].opcionProducto.PrecioFinal&#8364;</p>
                                            <p class="precio-inicial-carta">@visitados[i].opcionProducto.PrecioInicial&#8364;</p>
                                            @{
                                                double descuento = Math.Round(((visitados[i].opcionProducto.PrecioInicial - visitados[i].opcionProducto.PrecioFinal) / visitados[i].opcionProducto.PrecioInicial) * 100);
                                            }
                                            <p class="descuento-carta">&#8595;@descuento&#37;</p>
                                        </div>
                                        <div class="div-boton-lo-quiero">
                                            <a onclick="generarSpinnerProducto()" asp-action="Detalles" asp-route-id="@visitados[i].producto.Id" class="btn boton-lo-quiero">¡Lo quiero!</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
<script src="/js/Historico.js"></script>
